/* 这里是配合 App.tsx 的样式文件，默认使用的是普通 CSS。也可以替换为：
* 1. CSS Modules
* 2. SASS/SCSS
* 3. LESS
* 4. PostCSS
* 5. Tailwind CSS
* 6. Styled Components
* 7. Emotion
*
* 具体的使用方式可以参考： https://vitejs.dev/guide/features.html#css
*
* 注意：如果使用了 CSS Modules，文件名需要改为 App.module.css。
*/

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
